
/Debug
/ipch
*.sdf
*.opensdf
/lib/ugdk.lib
/lib/ugdk_d.lib
/lib/ugdk_d.pdb
*.vcxproj.user
*.suo
Thumbs.db
CMakeCache.txt
CMakeFiles
x64
*.tlog
*.log
*.obj
*.pdb
*.ilk
*.manifest
*.lastbuildstate
*.res
*.rc
*.exe
*.cache
/*.lib
/*.dll
roguelike.dir
Debug
*.vcxproj
*.filters
cmake_install.cmake
*.sln
/*.psess
/*.vsp
/RelWithDebInfo
/Release
/MinSizeRel
/src/RelWithDebInfo
/src/Release
/src/MinSizeRel
